config BOARD_NAME
    string
    default "NUCLEO_F411RE"

config CHIP_VENDOR
    string
    default "ST"

config CHIP_FAMILLY
    string
    default "STM32F4"

config CHIP
    string
    default "STM32F411xE"

config ARCH
    string
    default "cortex-m4"

config LOAD_MEMORY_FLASH
    bool
    default y

config HAS_FPU
    bool
    default y

config FPU_TYPE
    string
    default "fpv4-sp-d16"

config HAS_WDG
    bool
    default y

config HAS_SPISD_MEMORY
    bool
    default y
